


.safe-area {
  padding-top: 100px;
 
}
.bottt{
  background-color: rgba(141, 154, 154, 0.784);
  padding: 10px;
  color: white;
  border-radius: 10px;
 display: flex;
  justify-content: flex-start;
  align-self: start;
  width: 170px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}